@charset "UTF-8";
/*
* Soft Grid CSS Framework V1
* Copyright 2016, Baran SOMAKLI
* www.baransomakli.com
* 21.05.2016
*/

/* Container */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.container-lg {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.colon {
  float: left;
  width: 100%;
  box-sizing: border-box;
}

/* Mobile devices larger than 400px */
@media (min-width: 400px) {
.container, .container-lg {
  width: 85%;
  padding: 0;
}
}

/* For devices larger than 550px */
@media (min-width: 550px) {
.container, .container-lg {
  width: 85%;
  padding: 0;
}

.colon {
  margin-left:4%;
}

.colon:first-child {
  margin-left: 0;
}
.row { clear:both; }
/*Colon*/
.one.colon { width: 4.66666666667%; }
.two.colon { width: 13.3333333333%; }
.three.colon { width: 22%; }
.four.colon { width: 30.6666666667%; }
.five.colon { width: 39.3333333333%; }
.six.colon {  width: 48%;  }
.seven.colon { width: 56.6666666667%; }
.eight.colon { width: 65.3333333333%; }
.nine.colon { width: 74.0%; }
.ten.colon { width: 82.6666666667%; }
.eleven.colon { width: 91.3333333333%; }
.twelve.colon { width: 100%; margin-left: 0; }
.one-third.colon { width: 30.6666666667%; }
.two-thirds.colon { width: 65.3333333333%; }
.one-half.colon { width: 48%; }
/* Offest */

.offset-one.colon {
  margin-left: 8.66666666667%;
}
.offset-two.colon{
  margin-left: 17.3333333333%;
}
.offset-three.colon {
  margin-left: 26%;
}
.offset-four.colon{
  margin-left: 34.6666666667%;
}
.offset-five.colon {
  margin-left: 43.3333333333%;
}
.offset-six.colon{
  margin-left: 52%;
}
.offset-seven.colon {
  margin-left: 60.6666666667%;
}
.offset-eight.colon{
  margin-left: 69.3333333333%;
}
.offset-nine.colon{
  margin-left: 78.0%;
}
.offset-ten.colon{
  margin-left: 86.6666666667%;
}
.offset-eleven.colon {
  margin-left: 95.3333333333%;
}
.offset-one-third.colon {
  margin-left: 34.6666666667%;
}
.offset-two-thirds.colon {
  margin-left: 69.3333333333%;
}
.offset-one-half.colon {
  margin-left: 52%; 
}

}

/* Typography */

body {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	color: #444;
}

a {
	color: #2196f3;
	text-decoration: none;
 font-size: 14px;
  font-weight: 400;
}
/* Typography */
.button, button {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  color: #444;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  background-color: transparent;
  cursor: pointer;
}
.button:hover, button:hover, .button:focus, button:focus {
	border-color: #bbb;
}
.button.button-blue, button.button-blue {
	color: #fff;
	background-color: #2196f3;
	border-color: #2196f3;
}
.button.button-red, button.button-red {
  color: #fff;
  background-color: #f44336;
  border-color: #f44336;
}
.button.button-green, button.button-green{
  color: #fff;
  background-color: #2e7d32;
  border-color: #2e7d32;
}
.button.button-green-b, button.button-green-b {
  color: #fff;
  background-color: #00796b;
  border-color: #00796b;
}
.button.button-green-l, button.button-green-l {
  color: #fff;
  background-color: #0097a7;
  border-color: #0097a7;
}
.button.button-yellow, button.button-yellow {
  color: #fff;
  background-color: #FEC606;
  border-color: #FEC606;
}
.button.button-blue-b, button.button-blue-b {
  color: #fff;
  background-color: #01579b;
  border-color: #01579b;
}
.button.button-purple, button.button-purple {
  color: #fff;
  background-color: #3f51b5;
  border-color: #3f51b5;
}
.f-left {
  float: left;
}

.f-right {
  float: right;
}

.full-width {
  width: 100%;
  box-sizing: border-box;
}

.container:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

.clear {
  clear: both;
}


@media (min-width: 400px) {}

@media (min-width: 550px) {}

@media (min-width: 750px) {}

@media (min-width: 1000px) {}

@media (min-width: 1200px) {}
